<div class="grid grid-cols-3 gap-4">
  <!--Folgendes wird eine neue Seite mit vergangenen Uploads, sowie der Upload ist da drauf: falls upload nicht funktioniert wird der upload hier angezeigt?? Datum und reciept ID-->
  <div class="bg-white col-span-2 p-4 rounded shadow-md">
    <!--filter-dropdown-->
    <div class="dropdown dropdown-bottom">
      <div tabindex="0" role="button" class="btn btn-ghost">Filter</div>
      <ul tabindex="0" class="dropdown-content z-40 menu p-2 shadow bg-base-100 rounded-box w-64 grid grid-cols-2 gap-4">

        <!-- Dropdown für Laden -->
        <div class="col-span-1">
          <div class="label">
            <span class="label-text">Laden</span>
          </div>
          <select class="select w-full max-w-full" [(ngModel)]="selectedChain">
            <option disabled selected>Laden</option>
            <ng-container *ngFor="let chain of filterChain">
              <option [value]="chain.id">{{ chain.name }}</option>
            </ng-container>
          </select>
        </div>

        <!-- Dropdown für Kategorie -->
        <div class="col-span-1">
          <div class="label">
            <span class="label-text">Kategorie</span>
          </div>
          <select class="select w-full max-w-full" [(ngModel)]="selectedCategory">
            <option disabled selected>Kategorie</option>
            <ng-container *ngFor="let category of filterCategory">
              <option [value]="category.id">{{ category.name }}</option>
            </ng-container>
          </select>
        </div>

        <!-- Speichern-Button -->
        <button class="btn btn-primary col-span-2" [disabled]="!(selectedChain || selectedCategory)" (click)="filterInvoices()">Anwenden</button>
        <!-- Zurücksetzen-Button -->
        <button class="btn btn-tertiary col-span-2" [disabled]="!(selectedChain || selectedCategory)" (click)="resetFilters()">Alle zurücksetzen</button>
      </ul>
    </div>

    <!--sort-dropdown-->
    <div class="dropdown dropdown-bottom">
      <div tabindex="0" role="button" class="btn btn-ghost">Sortieren</div>
      <ul tabindex="0" class="dropdown-content z-40 p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <div class="form-control">
            <label class="label cursor-pointer">
              <span class="label-text">älteste zuerst</span>
              <input type="checkbox" class="checkbox ms-4" (click)="sortReceipts(true)"/>
            </label>
          </div>
        </li>
      </ul>
    </div>

    <!--liste-->
    <div class="list-card overflow-x-auto">

      <ng-container *ngFor="let invoice of invoices">
        <div class="collapse collapse-arrow bg-base-200">
          <input type="radio" name="my-accordion-2" (click)="toggleInvoice(invoice.id)"/>
          <div class="collapse-title text-xl font-medium">
            {{ invoice.invoiceFileId }}: {{ invoice.chainName }} - {{ invoice.date }}
          </div>
          <div class="collapse-content">
            <table class="table table-pin-rows">
              <thead>
              <tr>
                <!--<ng-container *ngIf="chainAddress"></ng-container>-->
                <th>Produkt</th>
                <th>Subkategorie</th>
                <th>Kategorie</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let item of invoiceItems">
                <tr (click)="toggleArticle(item.productId, item.name)">
                  <td>{{ item.name }}</td>
                  <td>{{ item.productName }}</td>
                  <td>{{ item.tagName }}</td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>

    </div>
  </div>

  <!--right article card-->
  <ng-container *ngIf="showArticle">
    <div class="bg-white col-span-1 p-4 rounded shadow-md list-card overflow-x-auto">
      <h2 class="text-lg font-semibold mb-2">{{ productName }}</h2>
      <div class="grid grid-cols-1 gap-4 relative">
        <!--list-->
        <div class="overflow-x-auto">
          <table class="table table-zebra">
            <!-- head -->
            <thead>
            <tr>
              <th>Laden</th>
              <th>Datum</th>
              <th>Preis</th>
            </tr>
            </thead>
            <tbody>
            <!-- rows -->
            <tr *ngFor="let item of productExpenses.invoiceItems">
              <td>{{ item.chainName }}</td>
              <td>{{ item.date | date: 'dd.MM.yyyy' }}</td>
              <td>{{ item.price | currency: 'EUR' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--charts
      <div class="bg-white p-4 rounded shadow-md">
        <app-line-chart/>
      </div>-->
    </div>
  </ng-container>

</div>
