<div class="grid grid-cols-3 gap-4 relative">

  <div class="bg-white col-span-1 p-4 rounded shadow-md h-full">
      <input type="file" class="file-input w-full max-w-xs" (change)="onFileSelected($event)"/>
      <div>
        <button class="btn btn-primary my-4" [disabled]="!selectedFile" (click)="uploadFile()">Upload</button>
      </div>
      <div *ngIf="fileError" role="alert" class="alert alert-error">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
        <span>{{ fileError }}</span>
      </div>
    <div *ngIf="uploadSuccessful" role="alert" class="alert alert-success">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span>Dein Kassenzettel wurde erfolgreich hochgeladen!</span>
    </div>
  </div>

  <!-- Upload Tabelle -->
  <div class="bg-white col-span-2 p-4 rounded shadow-md list-card">
    <div class="overflow-x-auto">
      <h1 class="text-lg font-semibold mb-2">Uploads</h1>
      <table class="table table-pin-rows">
        <ng-container>
          <thead>
          <tr>
            <th>Datum</th>
            <th>Zeitpunkt</th>
            <th>Erfolgreich</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let file of uploads">
            <tr>
              <td>{{ file.uploadDate }}</td>
              <td>{{ file.uploadTime }}</td>
              <td *ngIf="file.uploadSuccessful">Ja</td>
              <td *ngIf="!file.uploadSuccessful">Nein</td>
            </tr>
          </ng-container>
          </tbody>
        </ng-container>
      </table>
    </div>
  </div>
</div>
