<div *ngIf="auth.user$ | async as user" class="hero min-h-screen content-start justify-items-start">
  <div class="hero-content flex-col lg:flex-row">
    <div class="flex items-center justify-center lg:flex-col">
      <img [src]="user.picture" class="max-w-sm rounded-full shadow-2xl" />
      <!--<button class="btn btn-tertiary mt-4">Profilbild ändern</button>-->
    </div>

    <div>
      <h1 class="text-5xl font-bold">Hi!</h1>
      <div class="py-6">
        <p>{{ user.email }}</p>
      </div>
      <button
        class="btn btn-primary"
        (click)="logout()"
      >
        Log out
      </button>
    </div>
  </div>
</div>
